<template>
  <Layout
    theme="purple"
    invert
  >
    <BaseTitle>
      アクション・イベント
    </BaseTitle>

    <BaseSubtitle>
      コンポーネントからPHPへメッセージとデータを送る
    </BaseSubtitle>
  </Layout>
</template>
