<template>
  <Layout
    theme="teal"
    invert
  >
    <BaseTitle>
      APIs
    </BaseTitle>

    <BaseSubtitle>
      APIからデータをゲットする
    </BaseSubtitle>

    <div class="max-w-sm">
      <BaseUl>
        <li>Airtable</li>
        <li>Headless CMSes</li>
        <li>リモートデーターベース</li>
      </BaseUl>
    </div>
  </Layout>
</template>
