<template>
  <Layout
    theme="indigo"
    invert
  >
    <BaseTitle>
      バックエンドもフロントエンドも自由にどうぞ
    </BaseTitle>

    <BaseSubtitle>
      LaravelもRailsもサポートされている
    </BaseSubtitle>
  </Layout>
</template>
