<template>
  <Layout
    theme="green"
    invert
  >
    <BaseTitle>
      今日の目当て
    </BaseTitle>

    <BaseOl class="max-w-sm">
      <li>
        Gridsomeを使って、ブログを作る
      </li>
      <li>
        NetlifyCMSを実装して、開発者以外コンテンツを作成できるようにする
      </li>
      <li>
        サーバーを立てずに、デプロイする
      </li>
    </BaseOl>
  </Layout>
</template>
