<template>
  <Layout
    theme="green"
    invert
  >
    <BaseTitle href="https://gridsome.org">
      Gridsome
    </BaseTitle>


    <BaseOl>
      <li>
        Vue.jsの静的サイトジェネレーター
      </li>
      <li>
        便利なプラグインが多い
      </li>
      <li>
        モダンなツーリング
      </li>
    </BaseOl>
  </Layout>
</template>
