<template>
  <Layout
    theme="teal"
    invert
  >
    <BaseTitle>
      JavaScript
    </BaseTitle>

    <BaseSubtitle>
      JavaScriptの力を行かせて、静的サイトをインタラクティブに
    </BaseSubtitle>
  </Layout>
</template>
