<template>
  <ImageRight
    theme="purple"
    invert
  >
    <template slot="left">
      <BaseTitle>
        Livewire
      </BaseTitle>
      
      <BaseSubtitle>
        JavaScriptはもう不要
      </BaseSubtitle>
    </template>

    <template slot="right">
      <g-image src="@/assets/images/jelly.svg" />
    </template>
  </ImageRight>
</template>
