<template>
  <BaseCode
    :initial-data="example"
  />
</template>

<script>
import {text} from '@/data/LivewireExample.yaml'

export default {
  data() {
    return {
      example: text
    }
  }
}
</script>
