<template>
  <Layout
    theme="green"
    invert
  >
    <BaseTitle>
      BladeでもMarkdownでもコンテンツ作成
    </BaseTitle>

    <BaseSubtitle>
      HTML分からなくても大丈夫
    </BaseSubtitle>
  </Layout>
</template>
