<template>
  <Layout
    theme="teal"
    invert
  >
    <BaseTitle>
      これは当たり前なことじゃない？
    </BaseTitle>

    <BaseSubtitle>
      Yes. 上司とクライアントの為にJAMstackという名前が誕生した。
    </BaseSubtitle>
  </Layout>
</template>
