<template>
  <Layout
    theme="gray"
    invert
  >
    <BaseTitle href="https://www.netlifycms.org/">
      Netlify CMS
    </BaseTitle>


    <BaseOl>
      <li>
        Gitでコンテンツを管理する
      </li>
      <li>
        Reactダッシュボード
      </li>
      <li>
        オープンソース
      </li>
    </BaseOl>
  </Layout>
</template>
