<template>
  <Layout
    theme="blue"
    invert
  >
    <BaseTitle href="https://netlify.com">
      Netlify
    </BaseTitle>

    <BaseOl>
      <li>
        `git push`だけでデプロイできる
      </li>
      <li>
        AWS Lambda関数
      </li>
      <li>
        フォームとA/Bテスティング昨日がある
      </li>
      <li>
        ¥0からスタート
      </li>
    </BaseOl>
  </Layout>
</template>
