<template>
  <Layout
    theme="purple"
    invert
  >
    <BaseTitle>
      PHPだけで、Vue.jsのようにDOMを操る
    </BaseTitle>

    <BaseSubtitle>
      JSが得意じゃない人でもフロントエンドできる
    </BaseSubtitle>
  </Layout>
</template>
