<template>
  <ImageFull>
    <g-image src="~/assets/images/sprint-schedule.png" />
  </ImageFull>
</template>

<script >
import ImageFull from '~/layouts/ImageFull'

export default {
  components: {
    ImageFull
  }
}
  
</script>
