<template>
  <Layout
    theme="purple"
    invert
  >
    <BaseTitle>
      コンポーネントデータ
    </BaseTitle>

    <BaseSubtitle>
      DOMじゃなくて、PHPのファイルでデータを管理する
    </BaseSubtitle>
  </Layout>
</template>
