<template>
  <ImageFull
    theme="green"
    invert
  >
    <BaseTitle>
      ステップ１
    </BaseTitle>

    <BaseSubtitle>
      今は何が上手くいっている
    </BaseSubtitle>

    <g-image
      class="mt-8 shadow-lg"
      src="~/assets/images/step1.png"
    />
  </ImageFull>
</template>
