<template>
  <ImageFull
    theme="green"
    invert
  >
    <BaseTitle>
      ステップ７
    </BaseTitle>

    <BaseSubtitle>
      ソリューションを決める
    </BaseSubtitle>

    <g-image
      class="mt-2 shadow-lg"
      src="~/assets/images/step7.png"
    />
  </ImageFull>
</template>
