<template>
  <ImageFull
    theme="green"
    invert
  >
    <BaseTitle>
      ステップ８
    </BaseTitle>

    <BaseSubtitle>
      次のアクションを決める
    </BaseSubtitle>

    <g-image
      class="mt-8 shadow-lg"
      src="~/assets/images/step8.png"
    />
  </ImageFull>
</template>
