<template>
  <Layout>
    <BaseTitle>８ステップ</BaseTitle>

    <BaseOl>
      <li>
        今は何が上手くいっている
      </li>
      <li>
        今の課題は何？
      </li>
      <li>
        課題の順位を決める
      </li>
      <li>
        HMW
      </li>
      <li>
        話せずにソリューションを考える
      </li>
      <li>
        ソリューションの順位を決める
      </li>
      <li>
        ソリューションを決める
      </li>
      <li>
        次のアクションを決める
      </li>
    </BaseOl>
  </Layout>
</template>
