<template>
  <ImageFull
    theme="green"
    invert
  >
    <BaseTitle>
      ステップ３
    </BaseTitle>

    <BaseSubtitle>
      課題の順位を決める
    </BaseSubtitle>

    <g-image
      class="mt-8 shadow-lg"
      src="~/assets/images/step3.png"
    />
  </ImageFull>
</template>
