<template>
  <ImageFull
    theme="purple"
    invert
  >
    <BaseTitle>
      ステップ６
    </BaseTitle>

    <BaseSubtitle>
      ソリューションの順位を決める
    </BaseSubtitle>

    <g-image
      class="mt-8 shadow-lg"
      src="~/assets/images/step6.png"
    />
  </ImageFull>
</template>
