<template>
  <ImageFull
    theme="green"
    invert
  >
    <BaseTitle>
      ステップ４
    </BaseTitle>

    <BaseSubtitle>
      How might we…
    </BaseSubtitle>

    <g-image
      class="mt-8 shadow-lg"
      src="~/assets/images/step4.png"
    />
  </ImageFull>
</template>
