<template>
  <ImageFull
    theme="red"
    invert
  >
    <BaseTitle>
      ステップ２
    </BaseTitle>

    <BaseSubtitle>
      今の課題は何？
    </BaseSubtitle>

    <g-image
      class="mt-8 shadow-lg"
      src="~/assets/images/step2.png"
    />
  </ImageFull>
</template>
