<template>
  <ImageFull
    theme="indigo"
    invert
  >
    <BaseTitle>
      Tools
    </BaseTitle>
    <BaseSubtitle>３〜８人（３０〜45分）</BaseSubtitle>
    <g-image
      class="mt-8"
      src="~/assets/images/tools.png"
    />
  </ImageFull>
</template>
