<template>
  <Layout
    theme="purple"
    invert
  >
    <BaseTitle>
      CSS Transitions
    </BaseTitle>

    <BaseSubtitle>
      CSSを書かなくても、transitionをつける
    </BaseSubtitle>
  </Layout>
</template>
