<template>
  <Layout
    theme="teal"
    invert
  >
    <BaseTitle>
      JAMstackって何？
    </BaseTitle>

    <div class="max-w-sm">
      <BaseUl>
        <li>JavaScript</li>
        <li>APIs</li>
        <li>Markup</li>
      </BaseUl>
    </div>
  </Layout>
</template>
