<template>
  <Layout
    theme="teal"
    invert
  >
    <BaseTitle>
      どうしてJAMstackがいいの？
    </BaseTitle>

    <div class="max-w-sm">
      <BaseOl>
        <li>開発が早い</li>
        <li>フロントエンドのスキルだけで十分</li>
        <li>コストパフォーマンスがいい</li>
        <li>サーバーのメンテナンスが不要</li>
        <li>セキュリティーがいい</li>
      </BaseOl>
    </div>
  </Layout>
</template>
